body {
    height: 100vh
}
.featured-img {
     width: 100%;
}

@media(min-width: 576px){
    .featured-img {
        max-width: 540px;
   }
}

@media(min-width: 768px){
    .featured-img {
        max-width: 700px;
   }
}


@media(min-width: 1200px){
    .featured-img {
        max-width: 1100px;
   }
} 

/*.bg-image-index {
    background-image: url("../images/papad.JPG");
}
*/

.recipe-card{
    width: 500px;
}

.line-style{
  text-decoration-line: underline;
  text-decoration-style: solid;
}