.cat-picture {
    width: 300px;
    background-color: aquamarine;
}

.background-page
{
    background-color: cornflowerblue;
}

.font-styling{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
}

.image-style{
    width: 100%;
    object-fit: cover;
    height: 300px; 

}